{% extends '::base.html.twig' %}

{% block body -%}
    <h1>House</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ entity.area }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ entity.agent }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('house') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('house_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('house_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
